@media (max-width: 420px) {
    body {
        background-color: #fff;
        padding: 0;
    }
    
    main {
        border-radius: 0;
        padding: 0;
    }
            
    img {
        border-radius: 0;
    }
    
    .title h1 {
        font-size: 36px;
        font-weight: 400;
    }
    
    section {
        padding: 0 32px 0 32px;
    }

    .nutrition div div a {
        width: 115.5px;
        padding-right: 0;
    }
    
    .nutrition div div div {
        font-weight: 600;
        width: 115.5px;
        padding-right: 0;
    }

    .preparation {
        margin: 0 32px;
        padding: 0 24px;
    }

    .preparation li {
        padding-bottom: 8px;
    }
}