body {
	background-color: hsl(30, 54%, 90%);
	padding: 123px 352px 123px 352px;
	margin: 0;
}

main {
	background-color: #fff;
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	padding: 40px;
}

a {
	font-family: 'Outfit';
	font-weight: 400;
	font-size: 16px;
	color: hsl(30, 10%, 34%)
}

hr {
	color: #E3DDD7;
	margin-block-start: 32px;
}

.ingredients ul {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-left: 10px;
	padding-left: 8px;
}

ol {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-left: 10px;
	padding-left: 8px;
}

li {
	color: #854632;
	font-weight: 600;
	padding-left: 16px;
}

img {
	width: 100%;
	border-radius: 12px;
}

.title h1 {
	font-family: 'Young Serif';
	font-size: 40px;
	color: hsl(24, 5%, 18%);
}

.title p {
	font-family: 'Outfit';
	font-weight: 400;
	font-size: 16px;
	color: hsl(30, 10%, 34%)
}

.preparation {
	background-color: hsl(330, 100%, 98%);
	border-radius: 12px;
}

.preparation p {
	padding-left: 20px;
	font-size: 20px;
	font-family: 'Outfit';
	font-weight: 600;
	color: hsl(332, 51%, 32%);
}

.preparation li {
	color: hsl(332, 51%, 32%);
	font-weight: 600;
}

.ingredients p {
	font-family: 'Young Serif';
	font-size: 28px;
	font-weight: 400;
	color: #854632;
}

.instructions p {
	font-family: 'Young Serif';
	font-size: 28px;
	font-weight: 400;
	color: #854632;
}

.nutrition h2 {
	font-family: 'Young Serif';
	font-size: 28px;
	font-weight: 400;
	color: #854632;
}

.nutrition p {
	font-family: 'Outfit';
	font-weight: 400;
	font-size: 16px;
	color: hsl(30, 10%, 34%)
}

.nutrition div div {
	display: flex;
	font-family: 'Outfit';
	color: hsl(332, 51%, 32%);
	padding: 0 32px;
}

.nutrition div div a {
	width: 288px;
	padding-right: 76px;
}

.nutrition div div div {
	font-weight: 600;
	width: 288px;
	padding-right: 76px;
}

.nutrition .table hr {
	color: #E3DDD7;
	margin-block-start: 12px;
}